<h2>DEMO BASIC:</h2>
<br>
<cron-selection output="output"></cron-selection>
<br>
<br>
<p><strong>OUTPUT:</strong> {{output}}</p>
<br>

<h2>DEMO WITH CONFIG:</h2>
<br>
<pre>$scope.myConfig = {
  options : {
    allowMonth : false,
    allowYear : false
  }
}</pre>
<cron-selection output="myOutput" config="config"></cron-selection>
<br>
<br>
<p><strong>OUTPUT:</strong> {{myOutput}}</p>
<br>

<h2>DEMO WITH MULTI SELECT:</h2>
<br>
<pre>$scope.myConfig = {
  allowMultiple: true
}</pre>
<cron-selection output="myThirdOutput" config="config2"></cron-selection>
<br>
<br>
<p><strong>OUTPUT:</strong> {{myThirdOutput}}</p>
<br>

<h2>DEMO WITH INIT:</h2>
<br>
<pre>$scope.serverData = {{serverData}}</pre>
<cron-selection output="mySecondOutput" init="serverData" config="config2"></cron-selection>
<br>
<br>
<p><strong>OUTPUT:</strong> {{mySecondOutput}}</p>

<h2 id="noSelectSample">DEMO WITHOUT SELECTS</h2>
<br>
<cron-selection output="myThirdOutput" config="config3" template="partials/template.html" frequency="myLocalFrequency"></cron-selection>
<p><strong>OUTPUT:</strong> {{myThirdOutput}}</p>
